<div class="card-box">
	 <div class="col-xs-4">
	    <%= image_tag 'user.png' %>
	</div>

  	<div class="col-xs-8">
	  	<h1><%= @user.email %></h1>
		<h2>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h2>

		<h3><%= @user.comments.count %> total comments</h3>
		<h3><%= @user.comments.where(:rating => '5_stars').count %> total 5 star reviews</h3>
	</div>

	<div class="clear"></div>

</div>
