<!-- Modal -->
<div class="modal fade" id="myPhotoModal" tabindex="-1" role="dialog" aria-labelledby="photoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h2 class="modal-title" id="photoModal">Add Photo</h2>
      </div>
      <%= simple_form_for @photo, :url => place_photos_path(@place) do |f| %>
      <div class="modal-body">
         <%= f.input :caption %>
         <%= f.input :picture %>
      </div>
      <div class="modal-footer">
        <%= button_tag(type: 'submit', class: "btn btn-primary btn-lg", style: "width: 100%;") do %>
         <span class="glyphicon glyphicon-camera"></span> Post Photo
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="clear"></div>

<% if @place.photos.size >= 1 %> <h2>Photos</h2> <% end %>
<% @place.photos.each do |photo| %>
<br /> 
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
  <% if photo.picture.present? %>
    <a class="fancybox" href="<%= photo.picture %>"><%= image_tag photo.picture, :class => 'img-responsive img-thumbnail' %></a>
  <% end %>
  <div class="caption-label">
    <% if photo.caption.present? %>
      <p class="text-center"><%= photo.caption %></p>
    <% end %>
  </div>
</div>  
<% end %>