<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="commentsModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h2 class="modal-title" id="commentsModal">Write a Comment</h2>
      </div>
      <%= simple_form_for @comment, :url => place_comments_path(@place) do |f| %>
      <div class="modal-body">
        <%= f.input :message %>
        <%= f.input :rating, :as => :select, :collection => Comment::RATINGS %>
      </div>
      <div class="modal-footer">
        <%= button_tag(type: 'submit', class: "btn btn-primary btn-lg", style: "width: 100%;") do %>
         <span class="glyphicon glyphicon-comment"></span> Post Comment
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="clear"></div>

<br />

<% if @place.comments.size >= 1 %> <h2>Comments</h2> <% end %>
<% @place.comments.each do |comment| %>

  <div class="col-xs-12 col-sm-6">
    <blockquote>
      <% if comment.humanized_rating.present? %>
        <b><%= comment.humanized_rating %></b> -
      <% end %>
      <%= comment.message %>
      <small><%= comment.user.email %></small>
    </blockquote>
  </div>
<% end %>